/* ----------------------------------- */
/* base
/* ----------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #333333;
  font-family: 'Noto Serif JP', sans-serif;
}
/* ----------------------------------- */
/* common
/* ----------------------------------- */
*{
  box-sizing: border-box;
  vertical-align: bottom;
}
body{
  margin: 0 auto;
  padding-top: 200px;
}
.bg__beige{
  background-color: #fef3e8;
  min-width: 375px;
}
.title{
  text-align: center;
}
h3{
  position: relative;
  display: inline-block;
  margin: 0 auto 100px;
  padding: 0 60px;
  font-size: 3.6rem;
}
h3::before, h3::after{
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #333333;
  height: 2px;
  width: 50px;
  top: 50%;
}
h3::before{
  left: 0;
}
h3::after{
  right: 0;
}
img{
  border-radius: 5px;
}
section{
  margin: 0 auto;
}












/* ----------------------------------- */
/* PC site
/* ----------------------------------- */
/* ----------------------------------- */
/* header
/* ----------------------------------- */
header{
  height: 200px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: #fff;
  transition: all .3s;
}
header h1{
  font-family: 'Pinyon Script', cursive;
  font-size: 4.8rem;
  padding-top: 35px;
  transition: all .3s;
}
.header__item a{
  cursor: pointer;
}
.header__menu{
  display: flex;
  justify-content: center;
  padding: 35px 0;
  transition: all .1s;
}
.header__menu li{
  padding: 0 40px;
  transition: all .3s;
}
.header__menu li a:hover{
  color: #bbbbbb;
  transition: all .1s;
}
/* --------------- */
/* variable header */
/* --------------- */
.header__scroll{
  height: 100px;
  background-color: rgba(255, 255, 255, .6);
  transition: all .3s;
}
.header__scroll h1{
  font-size: 2.4rem;
  padding-top: 10px;
  transition: all .1s;
}
.header__scroll .header__menu{
  font-size: 1.2rem;
  padding: 10px 30px;
  justify-content: center;
  transition: all .1s;
}
.header__scroll .header__menu li{
  padding: 0 15px;
  transition: all .3s;
}
/* ----------------------------------- */
/* fv
/* ----------------------------------- */
.fv{
  position: relative;
  display: flex;
}
.fv::before{
  position: absolute;
  content:"";
  width: 70%;
  height: 300px;
  top: 25%;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #fef3e8;
  z-index: -1;
}
.fv img{
  width: 70%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 10%;
  margin-left: auto;
  margin-right: 20px;
}
.fv__text{
  position: absolute;
  top: 50%;
  left: 3%;
}
.fv__text h2{
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: 100;
}
/* ----------------------------------- */
/* about
/* ----------------------------------- */
.about__wrapper{
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
}
.about__inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about__list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.about__list:last-of-type{
  padding-bottom: 0;
}
.about__list:nth-child(even){
  flex-direction: row-reverse;
}
.about__list_text{
  width: 650px;
  text-align: center;
}
.about__list_text h4{
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 200;
}
.about__list_text p{
  text-align: left;
  line-height: 2em;
}
.about__list_image img{
  width: 400px;
  height: 350px;
  object-fit: cover;
}
@media screen and (min-width:415px){
  .about__list:nth-child(odd) .about__list_text{
    padding-right: 50px;
  }
  .about__list:nth-child(even) .about__list_text{
    padding-left: 50px;
  }
}
/* ----------------------------------- */
/* menu
/* ----------------------------------- */
.menu__wrapper{
  width: 80%;
  padding: 100px 0 80px;
  margin: 0 auto;
}

.menu__about{
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.8rem;
  line-height: 2em;
}
.menu__about span{
  display: inline-block;
  padding-top: 20px;
}
.menu__list ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}
.menu__list ul li{
  width: 350px;
  padding: 20px;
  position: relative;
  box-sizing: content-box;
}
.menu__list ul li span{
  position: absolute;
  top: 180px;
  left: 40px;
  padding: 15px 25px;
  background-color:rgba(255, 255, 255, .6);
  border-radius: 5px;
}
.menu__list ul li img{
  width: 350px;
}
.menu__text{
  display: table-cell;
  vertical-align: middle;
  width: 400px;
  height: 135px;
  text-align: center;
  background-color:rgba(255, 255, 255, .6);
  border-radius: 5px;
}
.menu__text p{
  padding: 20px;
}
.menu__text h3{
  font-size: 1.6rem;
}
.menu__text span{
  font-size: 1.8rem;
}

/* ----------------------------------- */
/* news
/* ----------------------------------- */
.news__wrapper{
  width: 80%;
  padding: 100px 50px 0;
  margin: 0 auto;
}
.news__wrapper h2{
  text-align: center;
}
.news__wrapper ul{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.news__list{
  padding: 5px 0;
  border-bottom: 1px dashed #dddddd;
}
.news__list a{
  transition: all .1s;
}
.news__list a:hover{
  color: #bbbbbb;
  transition: all .1s;
}
.news__list:last-of-type{
  border-bottom: 0px;
}
.news__list time{
  padding-right: 10%;
}
/* ----------------------------------- */
/* access
/* ----------------------------------- */
.access__wrapper{
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
}
.access__wrapper h2{
  text-align: center;
}
.access__inner{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}
.access__text{
  height: 250px;
  vertical-align: center;
  padding: 25px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.access__text p{
  padding-bottom: 10px;
}
.access__text_logo{
  font-family: 'Pinyon Script', cursive;
  padding-bottom: 25px;
}
/* ----------------------------------- */
/* footer
/* ----------------------------------- */
footer{
height: 50px;
text-align: center;
line-height: 50px;
}
footer small{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
}

/* ---------------------------- */
/* js */
/* ---------------------------- */
.fadein {
  opacity : 0;
  transform : translate(0, 50px);
  transition:all 0.5s;
}
.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}










/* ----------------------------------- */
/* sp site
/* ----------------------------------- */

@media screen and (max-width:1023px){

/* ----------------------------------- */
/* common
/* ----------------------------------- */
h3{
  font-size: 2.2rem;
  padding: 0 30px;
}
h3::before, h3::after{
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #333333;
  height: 1px;
  width: 20px;
  top: 50%;
}
/* ----------------------------------- */
/* header
/* ----------------------------------- */
body{
  padding-top: 100px;
}
header{
  height: 100px;
  transition: all .3s;
}
header h1{
  padding-top: 10px;
  font-size: 2.4rem;
  transition: all .3s;
}
.header__menu{
  padding: 10px 30px;
  transition: all .3s;
}
.header__menu li{
  padding: 0 25px;
  font-size: 1.2rem; 
}
.header__scroll{
  height: 50px;
  background-color: rgba(255, 255, 255, .6);
  transition: all .3s;
}
.header__scroll .header__menu{
  flex-direction: column;
  height: 80vh;
  align-items: center;
  font-size: 1.2rem;
  transition: all .3s;
}
.header__scroll .header__menu li{
  padding-top: 30px;
  text-align: center;
  font-size: 2.5rem;
  transition: all .3s;
}
.header__scroll .header__opacity{
  display: none;
}
/* --------- */
/* humberger */
/* --------- */ 
.noscroll{
  overflow: hidden;
}
.header__scroll .btn_trigger{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5%;
  margin-left: auto;
  z-index: 3;
}
.header__scroll .bar{
  width: 15px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  background-color: #333333;
  transform: translateX(-50%)
}

.header__scroll .bar_top{
  top: 15px;
}
.header__scroll .bar_mid{
  top: 50%;
  transform: translate(-50%,-50%)
}

.header__scroll .bar_bottom{
  bottom: 15px;
}
.header__nav_wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index:2;
}
.btn_trigger.btn_close .bar_top{
  transform: translate(-50%,5px) rotate(50deg);
  transition: transform .3s; 
}
.btn_trigger.btn_close .bar_mid{
  opacity: 0;
  transition: opacity .3s;
}
.btn_trigger.btn_close .bar_bottom{
  transform: translate(-50%,-4px) rotate(-50deg);
  transition: transform .3s;
}
/* ----------------------------------- */
/* fv
/* ----------------------------------- */
.fv::before{
  margin-left: 10px;
}
.fv img{
  width: 80vw;
  margin-right: 0px;
}
.fv__text{
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
}
.fv__text h2{
  padding-bottom: 1rem;
}
/* ----------------------------------- */
/* about
/* ----------------------------------- */
.about__wrapper{
  width: 90%;
  margin: 0 auto;
}
.about__list{
flex-direction: column!important;
padding: 0;
}
.about__list_text{
  width: 100%;
  padding: 0 0 30px;
}
.about__list_text h4{
  font-size: 2rem;
}
.about__list_text p{
  line-height: 2em;
}
.about__list_image{
  width: 90%;
  margin: 0 auto;
}
.about__list_image img{
  width: 100%;
  height: 60%;
  padding-bottom: 50px;
}
/* ----------------------------------- */
/* menu
/* ----------------------------------- */
.menu__wrapper{
  width: 90%;
  padding: 100px 0 30px;
}
.menu__about{
  font-size: 1.6rem;
}
.menu__list ul{
  flex-direction: column;
}
.menu__list ul li{
  width: 100%;
  padding: 30px 0;
}
.menu__list ul li img{
  width: 100%;
  object-position: cover;
}
.menu__list ul li span {
  top: 145px;
  left: 8px;
}
.menu__text{
  width: 100vw;
}
/* ----------------------------------- */
/* news
/* ----------------------------------- */
.news__wrapper{
  width: 90%;
  padding: 100px 10px 0px;
}
.news__list a{
  position: relative;
  display: block;
  padding-left: 120px;
  line-height: 1.6em;
  font-size: 1.4rem;
}
.news__list time{
  position: absolute;
}
/* ----------------------------------- */
/* access
/* ----------------------------------- */
.access__inner{
  flex-direction: column;
  padding: 0 10px;
}
iframe{
  width: 100%;
  padding-top: 50px;
}
/* ----------------------------------- */
/* footer
/* ----------------------------------- */
footer{
  font-size: 1.2rem;
}
}



/* ----------------------------------- */
/* TAB site
/* ----------------------------------- */

@media screen and (max-width:1023px){
.menu__list{
  max-width: 400px;
  margin: 0 auto;
}
}


/* ----------------------------------- */
/* 4K screen
/* ----------------------------------- */

@media screen and (min-width:2000px){
  .fv::before{
    height: 600px;
  }
  .fv img{
    height: 800px;
  }
.fv__text, .fv__text h2{
  left: 5%;
  font-size: 3.6rem;
}
}